[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
phonenumbers = "*"
django-phonenumber-field = "*"
djangorestframework = "*"

[dev-packages]

[requires]
#python_version = "3.13"
python_version = "3.12.1"
